/*Me, 11/17/06 */
/* Style Sheet for Tutorial 7, case 1 */

body {padding: 0px; margin: 0px; background-color: white; font-family: sant-serif} 
a [href] {text-decoration: none}
#head {backgrouond-color: (53, 43, 48); margin-bottom: 0px; text-align: center}

#holelist {margin: 0px; padding: 1px; backgrouond-color: (53, 43, 48); text-align: center}

#holelist a {font-size: 1.25em; font-weight: bold; color: white;padding: 0px,5px,0px,5px} 

#holelist a:hover {background-color: yellow; color: black}

#holestates {width: 120px; margin-right: 10px; padding: 10px,10px,25px,10px; background-color: (53, 43, 48);
		 color: white; font-size: 0.7em; float: left}

#holestates strong {color:  yellow; font-weight: normal}

#holesummary img {float: left; margin-right: 10px; margin-left: 10px}

#holesummary span {float: left; 