* {
	margin: 0px;
	padding: 0px;
}
body {
	width: 800;
}
h1 {
	text-align: center;
}
div#nav {
	float: left;
	padding: 5px;
}
div#nav>ul {
	list-style-type: none;
}
iframe#content {
	width:  800px;
	height: 600px;
	border: none;
}
