* {
	margin: 0px;
	padding: 0px;
}
body {
	width: 800;
	background-color: black;
	color: white;
	font-family: arial, sans-serif;
}
h1 {
	text-align: center;
	margin: 20px;
}
iframe#content {
  border: none;
  overflow: hidden;
  width: 80%;
}
div#nav {
	float: left;
}
